body {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 50px;
}

button {
  padding: 15px;
  margin: 10px;
  border-radius: 12px;
  background: #6366f1;
  color: white;
  border: none;
}
